In [1]:
from typing import cast

import pandas as pd

from AEIC.config import Config, config
from AEIC.performance.models import PerformanceModel
from AEIC.types import ThrustMode
from AEIC.performance.models.legacy import ROCDFilter

Load default AEIC configuration.

In [2]:
Config.load();

Load a sample (table-based) performance model.

In [3]:
pm = PerformanceModel.load(
    config.file_location('performance/sample_performance_model.toml')
)

In [4]:
type(pm)

AEIC.performance.models.legacy.LegacyPerformanceModel

In [5]:
pm.performance_table.df

     fuel_flow     fl         tas       rocd     mass
0     1.328352    0.0   80.812757  23.820675  51434.0
1     1.328773    5.0   81.393794  23.925338  51434.0
2     1.329229   10.0   81.981612  24.030587  51434.0
3     1.331387   15.0   85.202340  26.230497  51434.0
4     1.331891   20.0   85.822349  26.354363  51434.0
..         ...    ...         ...        ...      ...
156   1.038980  370.0  236.353621   0.000000  81371.0
157   1.510291  390.0  236.035847  27.629672  81371.0
158   1.046648  390.0  236.035847   0.000000  81371.0
159   1.510291  410.0  235.983686  26.808005  81371.0
160   1.102579  410.0  235.983686   0.000000  81371.0

[161 rows x 5 columns]

In [6]:
pm.speeds

Speeds(climb=SpeedData(cas_low=128.611, cas_high=154.3332, mach=0.8), cruise=SpeedData(cas_low=128.611, cas_high=144.04432, mach=0.8), descent=SpeedData(cas_low=128.611, cas_high=149.18876, mach=0.8))

In [7]:
pm.lto_performance

LTOPerformanceInput(source='EDB', ICAO_UID='01P11CM121', rated_thrust=102.695, mode_data={<ThrustMode.IDLE: 'idle'>: LTOModeDataInput(thrust_frac=0.07, fuel_kgs=0.11, EI_NOx=4.36, EI_HC=1.54, EI_CO=29.39), <ThrustMode.APPROACH: 'approach'>: LTOModeDataInput(thrust_frac=0.3, fuel_kgs=0.343, EI_NOx=9.09, EI_HC=0.05, EI_CO=2.82), <ThrustMode.CLIMB: 'climb'>: LTOModeDataInput(thrust_frac=0.85, fuel_kgs=1.031, EI_NOx=17.89, EI_HC=0.02, EI_CO=0.17), <ThrustMode.TAKEOFF: 'takeoff'>: LTOModeDataInput(thrust_frac=1.0, fuel_kgs=1.293, EI_NOx=23.94, EI_HC=0.03, EI_CO=0.31)})

In [8]:
pm.lto_performance.mode_data[ThrustMode.APPROACH]

LTOModeDataInput(thrust_frac=0.3, fuel_kgs=0.343, EI_NOx=9.09, EI_HC=0.05, EI_CO=2.82)

In [9]:
type(pm).__mro__

(AEIC.performance.models.legacy.LegacyPerformanceModel,
 AEIC.performance.models.base.BasePerformanceModel,
 AEIC.utils.models.CIBaseModel,
 pydantic.main.BaseModel,
 abc.ABC,
 typing.Generic,
 object)

In [10]:
pm.apu

APU(name='APU 131-9', defra='131-9', fuel_kg_per_s=0.0321, NOx_g_per_kg=6.64, CO_g_per_kg=4.88, HC_g_per_kg=0.37, PM10_g_per_kg=0.054165420212751)

In [11]:
pt = pm.performance_table

In [12]:
fl = 120
mass = 70000

In [13]:
subset_table = pt.subset(ROCDFilter.POSITIVE)

In [14]:
subset_table.df

     fuel_flow     fl         tas       rocd     mass
0     1.328352    0.0   80.812757  23.820675  51434.0
1     1.328773    5.0   81.393794  23.925338  51434.0
2     1.329229   10.0   81.981612  24.030587  51434.0
3     1.331387   15.0   85.202340  26.230497  51434.0
4     1.331891   20.0   85.822349  26.354363  51434.0
..         ...    ...         ...        ...      ...
151   1.510291  330.0  239.359921  27.504545  81371.0
153   1.510291  350.0  237.484631  27.663883  81371.0
155   1.510291  370.0  236.353621  27.761170  81371.0
157   1.510291  390.0  236.035847  27.629672  81371.0
159   1.510291  410.0  235.983686  26.808005  81371.0

[78 rows x 5 columns]